@model IEnumerable<BookStore1.Models.Books>

@{
    ViewData["Title"] = "Catalogue";
}

@{Layout = "~/Views/Shared/_Layout1.cshtml";}

<h1>Catalogue</h1>

<div class="container-fluid">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-3">
                <div class="card mb-2">
                    <div class="card-header">
                        @item.Title
                    </div>
                    <div class="card-body">
                        <img src="~/images/@item.Image" height="150" /> <br />
                        price:@item.Price
                    </div>
                    <div class="card-footer">
                        <a asp-controller="Orders" asp-action="Create" asp-route-id="@item.Id">Buy</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

